

/* CSS Document public*/
* {
	font-family: "Microsoft YaHei", "PingFang SC", Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	font-size: 14px;
	overflow-x: hidden;
}

html,
body {
	min-height: 100vh;
}

html {
	overflow: -moz-scrollbars-vertical;
}

/* *{font-family: -apple-system,PingFangSC-Regular, PingFang SC,BlinkMacSystemFont,Segoe UI,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; padding: 0; margin:0; box-sizing:border-box; vertical-align:middle;} */
.flex {
	display: -webkit-flex;
	/* Safari */
	display: flex;
}

#miso_loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 100000000
}

html::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #E2E2E2;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #333;
}

.clearfix:after {
	/*伪元素是行内元素 正常浏览器清除浮动方法*/
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a {
	text-decoration: none;
	outline: none;
	display: block;
}

a,
input,
img,
:focus {
	/*IE使用*/
	outline-style: none;
	/*FF使用*/
}

/*去除a标签带来的虚框*/
ul {
	list-style: none;
}

img {
	border: 0px;
	vertical-align: middle
}

ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

h3,
h4,
h5 {
	font-weight: normal;
}

h4 a:hover,
h5 a:hover {
	-moz-transition: all 0.36s ease-in-out;
	-webkit-transition: all 0.36s ease-in-out;
	-o-transition: all 0.36s ease-in-out;
	-ms-transition: all 0.36s ease-in-out;
	transition: all 0.36s ease-in-out;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	background: #d8d8d8;
	padding: 0;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

abbr,
article,
aside,
audio,
canvas,
datalist,
details,
dialog,
eventsource,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
time,
video {
	display: block
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear {
	clear: both;
	height: 0px;
	font-size: 1px;
	line-height: 0px
}

.container01,
.container02,
.container03,
.container04,
.container05,
.container06,
.container07,
.container08,
.n-container01,
.n-container03,
.n-container04 {
	margin: 0 auto;
}

.slow {
	overflow: hidden
}

.slow img:hover {
	transform: scale(1.05);
}

/*图片放大*/
.slow img {
	-moz-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.9s ease-in-out;
	-o-transition: all 0.9s ease-in-out;
	-ms-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
}

/*缓慢效果*/
h5 a,
.more a {
	-moz-transition: all 0.36s ease-in-out;
	-webkit-transition: all 0.36s ease-in-out;
	-o-transition: all 0.36s ease-in-out;
	-ms-transition: all 0.36s ease-in-out;
	transition: all 0.36s ease-in-out;
}

/*缓慢效果*/
.slow01 {
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/*缓慢效果*/
.slow02 {
	-moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.shadow {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#999999')";
	/* For IE 8 */
	filter:
		progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#999999');
	/* For IE 5.5 - 7 */
	-moz-box-shadow: 1px 1px 10px #999999;
	/* for firefox */
	-webkit-box-shadow: 1px 1px 10px #999999;
	/* for safari or chrome */
	box-shadow: 1px 1px 10px #999999;
	/* for opera or ie9 */
}

#gotop {
	position: fixed;
	z-index: 90;
	bottom: .32rem;
	right: .1rem;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	width: .46rem;
	height: .46rem;
	line-height: .46rem;
	background: #cc0000;
	opacity: 1;
	visibility: visible;
	overflow: hidden;
}

#gotop.hide {
	height: 0;
	opacity: 0;
	visibility: hidden
}

#gotop svg {
	width: .22rem;
	height: .22rem;
	display: inline-block;
	fill: #fff;
	vertical-align: middle;
	margin: -3px 0 0;
	transition: .6s;
}

#gotop:hover {
	border-radius: 50%
}

body.navShow {
	overflow: hidden;
}


.gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
}

/*transform:rotateY(180deg); -webkit-transform:rotateY(180deg);  -moz-transform:rotateY(180deg); transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);*/
/*180度旋转*/
/*oncontextmenu="return false" ondragstart="return false" onselectstart="return false"*/
/*filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);*/
/*透明背景*/
.aline_w {
	position: relative;
	background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6));
	background-position: 0 100%;
	background-size: 0 1px;
	background-repeat: no-repeat;
	transition: .3s
}


/* .aline_w:hover{background-size:100% 1px} */
.aline_y {
	position: relative;
	background-image: linear-gradient(#7C5B3E, #7C5B3E);
	background-position: 0 100%;
	background-size: 0 1px;
	background-repeat: no-repeat;
	transition: .3s
}

/* .aline_y:hover{background-size:100% 2px} */
@media screen and (min-width:1200px) {
	a:hover .aline_w {
		background-size: 100% 1px;
		color: #fff
	}

	a:hover .aline_y {
		background-size: 100% 1px;
		color: #7C5B3E
	}
}

.imged {
	position: relative;
	padding-bottom: 65%;
	width: 100%;
	display: block;
	overflow: hidden;
	transition: 0.5s;
	background-size: cover !important;
	background-position: center center !important;
}

.imged img {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 0s;
	object-fit: cover;
	display: none;
}

.imged video {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 0s;
	object-fit: cover;
}

video {
	max-width: 100%;
}

.scale {
	overflow: hidden;
}

a:hover .imged {
	transform: scale(1.1);
}

.clearflex::after,
.clearflex::before {
	display: block;
	content: "clear";
	height: 0px;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.wl {
	position: relative;
	z-index: 1;
	transition: 0.5s
}

.wl::after {
	content: "";
	z-index: -1;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0px;
	height: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

::after,
::before {
	transition: 0.5s;
}

.l1 {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.l2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.l3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.l4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.l5 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.l6 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.l7 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.a_body {
	position: relative
}

ul li,
dl dd {
	vertical-align: top
}

img {
	vertical-align: middle;
	max-width: 100%;
}

a {
	color: inherit
}

input,
button,
textarea {
	background: none;
	outline: none;
	border: none;
	-webkit-appearance: none;
	border-radius: 0
}

input:focus {
	border: none;
}

input::-webkit-input-placeholder {
	color: #8f8f8f;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #8f8f8f;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #8f8f8f;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #8f8f8f;
}

textarea::-webkit-input-placeholder {
	color: #8f8f8f;
}

textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #8f8f8f;
}

textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #8f8f8f;
}

textarea:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #8f8f8f;
}

input::-ms-clear {
	display: none;
}

.w100 {
	width: 100%
}

.w1400 {
	max-width: 1400px;
	margin: 0 auto
}

.w1600 {
	max-width: 1600px;
	margin: 0 auto
}

.w1800 {
	max-width: 1800px;
	margin: 0 auto
}

.layui-img-responsive {
	max-width: 100%;
}

.img_zd {
	position: relative;
	width: 100%
}

.img_zd .img_hezi {
	padding-bottom: 60% !important
}

.img_zd>img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h5 a {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

ul li:hover h5 a {
	color: #ff0000
}

.more a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-transition: all 0.36s ease-in-out;
	-webkit-transition: all 0.36s ease-in-out;
	-o-transition: all 0.36s ease-in-out;
	-ms-transition: all 0.36s ease-in-out;
	transition: all 0.36s ease-in-out;
}

.box_table {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%
}

.box_table_cell {
	display: table-cell;
	vertical-align: middle
}

.box_table_cell * {
	white-space: normal;
	word-wrap: break-word;
}

/* 视频弹窗 */

.vwrap {
	display: none;
	z-index: 1040000;
	width: 100%;
	position: fixed;
}

.vwrap .videobtg {
	z-index: 900;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	overflow: hidden;
}

.vwrap .videobox {
	z-index: 1200;
	width: 1000px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	object-fit: cover;
	transform: translateY(-50%)
}

.vwrap .videobox #videobox {
	width: 100%;
	display: inline-block;
	background: #000;
}

.vwrap .videobox #videobox .img_hezi {
	padding-bottom: 60% !important
}

.vwrap .videobox #videobox video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#videobox_wrapper {
	height: 100% !important;
}

.vwrap .close {
	z-index: 999;
	width: 31px;
	height: 31px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: -42px;
	text-align: center;
}

.vwrap .close i {
	display: block;
	width: 31px;
	height: 31px;
	-webkit-transition: 400ms;
	transition: 400ms;
}

.vwrap .close i svg {
	transition: .6s
}

.vwrap .close:hover i svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

@media(max-width: 992px) {
	.vwrap .videobox {
		width: 94%;
		left: 3%;
		margin-left: 0;
	}

	.vwrap .close {
		right: 0;
		top: -35px;
	}
}


/*内容样式*/
.ar_article td,
.ar_article th {
	padding: 12px 10px;
	border: 1px solid #eff3f6;
	vertical-align: middle;
	/* text-align: center; */
	font-size: 0.9rem;
	color: #303030;
	line-height: 1.25;
}

.ar_article th {
	font-family: OPENSANS-BOLD;
}

.ar_article td p,
.ar_article th p {
	padding-bottom: 0;
	margin-bottom: 0 !important;
}

.ar_article table {
	border-collapse: collapse;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	width: 100%
}

.ar_article table tr:not(:first-child) td {}

.ar_article table td {
	border-left: 1px solid #dadbdd;
	border-top: 1px solid #dadbdd;
}

.ar_article table th {
	background: #333;
	color: #fff;
	text-align: left
}

.ar_article {
	font-size: 15px;
	color: #707578;
	line-height: 30px;
}

.ar_article video {
	width: 100%;
	object-fit: cover;
	height: auto
}

.ar_article p {
	font-size: 15px;
	color: #343434;
	line-height: .3rem;
	margin-bottom: .3rem;
}

.ar_article p:last-child {
	margin-bottom: 0
}

.ar_article strong {
	font-weight: bold;
}

.ar_article img {
	max-width: 100%;
}

.ar_article a {}

.ar_article h1,
.ar_article h2,
.ar_article h3,
.ar_article h4,
.ar_article h5 {
	font-weight: bold;
}

.ar_article h1 {
	font-size: 2.25rem;
	margin-bottom: 1.25rem
}

.ar_article h2 {
	font-size: 1.875rem;
	margin-bottom: 0.875rem;
}

.ar_article h3 {
	font-size: 1.5rem;
	margin-bottom: 0.9375rem
}

.ar_article h4 {
	font-size: 1.125rem;
	margin-bottom: 0.875rem
}

.ar_article h5 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem
}

.ar_article h6 {
	font-size: 0.75rem;
	margin-bottom: 0.75rem
}

.ar_article ul li,
.ar_article ol li {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 1.5rem;
	list-style: inherit !important;
	font-size: 15px;
	position: relative;
	list-style: none !important;
}

.ar_article ol li:before,
.ar_article ul li:before {
	content: "";
	position: absolute;
	left: 0;
	width: 5px;
	height: 5px;
	background: #001f86;
	border-radius: 50%;
	top: 13px;
}

.ar_article ul li p,
.ar_article ol li p {
	padding-bottom: 0;
	margin-bottom: 3px !important;
}

.ar_article ul,
.ar_article ol {
	margin-bottom: 0;
}

.ar_article sub {
	vertical-align: sub;
	font-size: smaller;
}

.ar_article sup {
	vertical-align: super;
	font-size: smaller;
}

.ar_article img {
	display: inline-block;
	margin: .1rem 0;
}

/*百度播放器美化*/
#playercontainer_display_button,
#video1_display_button,
#video2_display_button {
	background: none !important;
	height: 40px;
	width: 40px !important;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 0 !important;
}

#playercontainer_display_button #playercontainer_display_button_play,
#video1_display_button #video1_display_button_play,
#video2_display_button #video2_display_button_play {
	background-size: 25px;
}

#playercontainer_display_button,
#video1_display_button,
#video2_display_button {
	height: 40px !important;
	margin-top: -20px !important;
}

#playercontainer_display .cbpreview,
#video1_display .cbpreview,
#video2_display .cbpreview {
	opacity: .75 !important;
}

/*Slider 开始*/
.miso_qh {
	opacity: 0;
	visibility: hidden;
	transition: 0.6s
}

.miso_qh.miso-initialized {
	opacity: 1;
	visibility: visible;
}

.miso-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	z-index: 0
}

.miso-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	min-width: 100%;
}

.miso-list:focus {
	outline: none;
}

.miso-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.miso-slider .miso-track {
	min-width: 100%
}

.miso-slider .miso-track,
.miso-slider .miso-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.miso-track {
	position: relative;
	left: 0;
	top: 0;
	display: inline-block;
	zoom: 1;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

.miso-track:before,
.miso-track:after {
	display: table;
	content: '';
}

.miso-track:after {
	clear: both;
}

.miso-loading .miso-track {
	visibility: hidden;
}

.miso-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
	-moz-user-select: text;
	-khtml-user-select: text;
	user-select: text;
}

[dir='rtl'] .miso-slide {
	float: right;
}

.miso-slide img {
	display: block;
}

.miso-slide.miso-loading img {
	display: none;
}

.miso-slide.dragging img {
	pointer-events: none;
}

.miso-initialized .miso-slide {
	display: block;
}

.miso-loading .miso-slide {
	visibility: hidden;
}

.miso-vertical .miso-slide {
	display: block;
	height: auto;
}

.miso-arrow.miso-hidden {
	display: none;
}

.miso-loading .miso-list {
	background: #fff;
}

.miso-prev,
.miso-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.miso-prev:hover,
.miso-prev:focus,
.miso-next:hover,
.miso-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}

.miso-prev:hover:before,
.miso-prev:focus:before,
.miso-next:hover:before,
.miso-next:focus:before {
	opacity: 1;
}

.miso-prev.miso-disabled:before,
.miso-next.miso-disabled:before {
	opacity: .25;
}

.miso-prev:before,
.miso-next:before {
	font-size: 2rem;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
	cursor: pointer
}

.miso-prev {
	left: 0px;
}

[dir='rtl'] .miso-prev {
	right: 0px;
	left: auto;
}

.miso-prev:before {
	content: '';
	font-family: simsun;
}

[dir='rtl'] .miso-prev:before {
	content: '';
	font-family: simsun;
}

.miso-next {
	right: 0px;
}

[dir='rtl'] .miso-next {
	right: auto;
	left: 0px;
}

.miso-next:before {
	content: '';
	font-family: simsun;
}

[dir='rtl'] .miso-next:before {
	content: '';
	font-family: simsun;
}

/* Dots */
.miso-dots {
	position: absolute;
	bottom: 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0px;
	width: 100%;
}

.miso-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0px 5px;
	padding: 0px;
	cursor: pointer;
}

.miso-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.miso-dots li button:focus {
	outline: none;
}

.miso-dots li.miso-active a {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

/* Arrows */
.miso-prev,
.miso-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	padding: 0;
	border: none;
	outline: none;
	top: 50%;
	z-index: 1;
}

.miso-prev {
	left: 0
}

.miso-next {
	right: 0
}

.miso-lightbox .miso-prev:before,
.miso-lightbox .miso-next:before {
	width: 32px;
	height: 32px;
	display: block
}

.miso-lightbox .miso-prev:before {
	content: '';
	background: url(https://museum.sdu.edu.cn/images/left_svg.svg) center no-repeat;
}

.miso-lightbox .miso-next:before {
	content: '';
	background: url(https://museum.sdu.edu.cn/images/right_svg.svg) center no-repeat;
}

@media(max-width: 768px) {

	.miso-prev,
	.miso-next {
		width: 20px;
		height: 20px;
	}

	.miso-lightbox .miso-prev:before,
	.miso-lightbox .miso-next:before {
		width: 20px;
		height: 20px;
		background-size: 20px 20px
	}
}

/*Slider 结束*/


.piaofu {
	width: 65px;
	position: fixed;
	right: 15px;
	z-index: 100000;
	bottom: 30%
}

.piaofu .anniu {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	border-radius: 100%;
	margin-bottom: 5px;
}

.piaofu .anniu a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1
}

.piaofu .anniu a h4 {
	line-height: 60px;
}

.piaofu .anniu:hover a h4 {
	-webkit-animation: jello 1s;
	-moz-animation: jello 1s;
	animation: jello 1s;
}

.piaofu .anniu a h6 {
	font-size: 12px;
	color: #6a6c6d
}

.piaofu .anniu.anniu01,
.piaofu .anniu.anniu02 {
	cursor: pointer;
	position: relative
}

.piaofu .anniu.anniu01 .piao_ewm {
	border-radius: 2px;
	position: absolute;
	left: -109px;
	bottom: -1px;
	border: #e5e5e5 1px solid;
	display: none
}

.piaofu .anniu.anniu01 .piao_tel {
	border-radius: 30px;
	position: absolute;
	width: 230px;
	height: 60px;
	right: 0;
	top: 0;
	background: #3b73cb;
	display: none;
	padding: 0 35px;
	font-size: 20px;
	color: #fff;
}

.piaofu .anniu.anniu02 {
	display: none
}

.piaofu .anniu.anniu02 a h4 {
	margin-top: -3px;
}

.anniu_close img {
	position: absolute;
	top: -15px;
	right: -10px;
	width: 18px;
	height: 18px;
	cursor: pointer
}

.Statistical {
	display: inline-block;
	margin-left: 12px;
}

.Statistical span,
.Statistical span img {
	vertical-align: top
}

.bd_weixin_popup {
	box-sizing: content-box
}

.bd_weixin_popup .bd_weixin_popup_foot {
	text-align: center !important
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes spin2 {
	100% {
		transform: rotate(-1turn);
	}
}

@keyframes spin-reverse {
	0% {
		transform: rotate(1turn);
	}
}

@keyframes spin-reverse2 {
	0% {
		transform: rotate(-1turn);
	}
}

@-webkit-keyframes anim-close-2 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
	}
}

@keyframes anim-close-2 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}


.progress-wrap {
	position: fixed;
	right: 15px;
	bottom: 2rem;
	height: 2.875rem;
	width: 2.875rem;
	cursor: pointer;
	display: flex;
	border-radius: 50px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	justify-content: center;
	align-items: center;
	line-height: 2.875rem;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '↑';
	text-align: center;
	font-size: 1.25rem;
	color: #333;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.progress-wrap:hover::after {
	color: #333
}

.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '↑';
	text-align: center;
	font-size: 1.25rem;
	opacity: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	z-index: 2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	align-items: center;
	justify-content: center;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path {
	fill: none;
}

.progress-wrap svg.progress-circle path {
	stroke: #000;
	stroke-width: 1.5px;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

@media(min-width: 1200px) {
	.miso_up {
		transform: translateY(180px);
		visibility: hidden;
		opacity: 0;
		transition: 1.5s
	}

	.active .miso_up {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	.container01 .miso_up01 {
		transform: translateY(180px);
		visibility: hidden;
		opacity: 0;
		transition: 1.5s
	}

	.container01.active.on .miso_up01 {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	.miso_down {
		transform: translateY(-180px);
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .miso_down {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	.miso_suoX {
		letter-spacing: 4px;
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .miso_suoX {
		letter-spacing: 0;
		visibility: visible;
		opacity: 1;
	}

	.miso_flip-up {
		transform: perspective(2500px) rotateX(-100deg);
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .miso_flip-up {
		transform: perspective(2500px) rotateX(0);
		visibility: visible;
		opacity: 1;
	}

	.miso_zoom-in {
		transform: scale(.6);
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .zoom-in {
		transform: translateZ(0) scale(1);
		visibility: visible;
		opacity: 1;
	}

	.wenzi_x {
		letter-spacing: 3px;
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .wenzi_x {
		letter-spacing: 0;
		visibility: visible;
		opacity: 1;
	}

	.miso_fade-right {
		transform: translateX(-180px);
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .miso_fade-right {
		transform: translateX(0);
		visibility: visible;
		opacity: 1;
	}

	.miso_fade-left {
		transform: translateX(180px);
		visibility: hidden;
		opacity: 0;
		transition: 1s
	}

	.active .miso_fade-left {
		transform: translateX(0);
		visibility: visible;
		opacity: 1;
	}
}

.miso_up_left {
	transform: translateX(300px) translateY(300px);
	visibility: hidden;
	opacity: 0;
	transition: 1s
}

.active .miso_up_left {
	transform: translateX(0) translateY(0);
	visibility: visible;
	opacity: 1;
}

.xuanzhuan {
	-webkit-animation: play 25s linear infinite;
	-moz-animation: play 25s linear infinite;
	animation: play 25s linear infinite;
}

.fangda {
	animation: circleScale2 4s linear infinite;
}

@-webkit-keyframes play {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes play {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes circleScale2 {
	0% {
		opacity: .3;
		-webkit-transform: scale();
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	}
}

.tiao {
	animation: bounce 1.6s both infinite;
}

/* 跳动 */
@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-0.1rem);
		-ms-transform: translateY(-0.1rem);
		transform: translateY(-0.1rem);
	}

	60% {
		-webkit-transform: translateY(-0.05rem);
		-ms-transform: translateY(-0.05rem);
		transform: translateY(-0.05rem);
	}
}

.wp {
	width: 16rem;
	padding: 0;
	margin: 0 auto;
	max-width: 94%;
}


@media(max-width: 1024px) {
	.wp {
		padding: 0 15px;
		width: 100%;
		max-width: 100%;
	}
}

html {

	font-size: 5.2083333vw;
}


@media screen and (max-width: 1024px) {
	.wp {
		width: auto;
		max-width: none;

	}

	html {
		font-size: 85px;
	}

	.header_box {
		display: none;
	}

	.m_header_box {
		display: block !important;
		height: .7rem;
	}

	.main-visual-slider p {
		font-size: .4rem;
		line-height: 1.5;
		left: 5%;
		bottom: 5%;
	}

	#nav {
		display: none;
	}

}